*{
    scroll-behavior: smooth;
}
header {
    position: absolute;
    height: 866px;
    left: 0px;
    right: 0px;
    top: 0px
}

nav {
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
}

.nav_bar_brand {
    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 58px/2);
}

nav ul {
    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2 - 162px);
    top: 40px;
}

.nav_bar_brand h3 {
position: absolute;
width: 134px;
height: 32px;
left: 0px;
top: -5px;
font-family: 'Martel', serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}

a {
    text-decoration: none;
    color: #737373;
}

li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: -10px;
}

.li-2 {
    position: absolute;
    left: 123px;
    top: -10px;
}

.li-3 {
    position: absolute;
    left: 196px;
    top: -10px;
}

.li-4 {
    position: absolute;
    left: 276px;
    top: -10px;
}

.cover {
    position: absolute;
    width: 1440px;
    left: 220px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: url(/assets/img/background.png);
}

.filter {
    position: absolute;
    display: flex;
    align-items: center;
    width: 1900px;
    height: 793px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.1);
}

nav img {
    position: absolute;
    left: 1248px;
    right: 0;
    top: 58px;
    bottom: 0;
}

.main-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px;
    gap: 80px;
    position: absolute;
    width: 1046px;
    height: 758px;
    left: calc(50% - 1046px/2);
    top: 104px;
}

.big-blue-text {
    width: 509px;
    height: 130px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.smaller-grey-text {
    width: 376px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.btn-1:hover{
    border-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 182px;
    height: 48px;
    background: #784F33;
    border-radius: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 1s;
}
.btn-1:hover a{
    color: #FFFFFF;
}

.btn-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 155px;
    height: 48px;
    border: 1px solid #784F33;
    border-radius: 37px;
    flex: none;
    flex-grow: 0;
    transition: all 1s;
    width: 210px;
}
.btn-text {
    width: 100%;
    height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #784F33;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 347px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 210px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Vector {
    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-white {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 10px;
    width: 328px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-title {
    width: 139px;
    height: 32px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.paragraph-light-g {
    width: 199px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.card-blue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 10px;
    width: 328px;
    height: 210px;
    background: #295C7A;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-title-white {
    width: 184px;
    height: 32px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.paragraph-white {
    width: 196px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.features-10 {
    position: absolute;
    height: 526px;
    left: 0px;
    right: 0px;
    top: 866px;
    background: #FAFAFA;
}

.main-wrap-features-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 50px;
    position: absolute;
    width: 1050px;
    height: 512px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 864px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-10-title {
    width: 419px;
    height: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-10-p {
    width: 468px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cards-features-10 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 320px;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1049px;
    height: 202px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-features-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 238px;
    height: 202px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 1s;
    border: #FFFFFF;
    border-width: 0px;
    border-radius: 10px;
}
.card-features-10:hover{
    background-color: #252B42;
    width: 238px;
    height: 270px;
}
.card-features-10:hover .features-10-card-h2{
    color: #FFFFFF;
}
.features-10-img {
    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-10-card-h2 {
    width: -37px;
    height: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.features-10-card-h5 {
    width: 166px;
    height: 24px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
    flex: none;
    order: 2;
    flex-grow: 0;
    position: relative;
    top: -45px;
    left: 0px;
}

.features-7 {
    position: absolute;
    height: 699px;
    left: 0px;
    right: 0px;
    top: 1394px;
    background: #FAFAFA;
}

.features-7-main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    position: absolute;
    width: 1050px;
    height: 692px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.features-7-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px;
    width: 1050px;
    height: 190px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-7-h2 {
    width: 312px;
    height: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-7-p {
    width: 431px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.features-7-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1049px;
    height: 342px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.features-7-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 230px;
    height: 342px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-7-h5 {
    width: 81px;
    height: 48px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-7-p-special {
    width: 145px;
    height: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.features-7-img {
    position: relative;
    height: 138px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(.jpg);
}

.About {
    position: absolute;
    height: 890px;
    left: 0px;
    right: 0px;
    top: 2149px;
    background: #FFFFFF;
}

.about-main-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
    gap: 100px;
    position: absolute;
    width: 1050px;
    height: 847px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.about-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 864px;
    height: 105px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.about-main-content {
    display: flex;
    position: absolute;
    top: 365px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;
    width: 1053px;
    height: 442px;
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}

.about-h2 {
    width: 251px;
    height: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-p {
    width: 468px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: url(bg10.jpg);
}

.div-about-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 600px;
    height: 442px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-main-content-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 10px;
    width: 321px;
    height: 210px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-main-content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 333px;
    height: 115px;
    border-radius: 9px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-main-content-card-text {
    width: 216px;
    height: 24px;
    position: relative;
    left: 81px;
    top: -82px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-main-content-card-main-text {
    width: 273px;
    height: 48px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    left: 38px;
    top: -19px;
}

.main-content-card-img {
    position: relative;
    left: 0%;
    right: -1.4%;
    top: 43px;
    bottom: 9.57%;

}

.about-main-content-title-h2 {
    width: 321px;
    height: 100px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-main-content-title-p {
    width: 306px;
    height: 60px;
    position: absolute;
    top: 125px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.clients {
    position: absolute;
    height: 339px;
    left: 0px;
    right: 0px;
    top: 3039px;
    background: #FAFAFA;
}

.clients-background {
    position: absolute;
    height: 77px;
    left: 0px;
    right: 0px;
    top: 262px;
    background: #252B42;
}

.clients-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1050px;
    height: 175px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.clients-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    position: absolute;
    width: 1050px;
    height: 164px;
    left: calc(50% - 1050px/2);
    top: 175px;
}

.clients-img-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0px;
    gap: 30px;
    width: 1054px;
    height: 175px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.clients-img-current {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
}

.clients-text-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 986px;
    height: 124px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.clients-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 50px;
    width: 986px;
    height: 124px;
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    border-radius: 2px;
    position: relative;
    z-index: 1;
    right: 45px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.clients-main-text-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 180px;
    width: 883px;
    height: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.clients-h3 {
    width: 253px;
    height: 64px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-group {
    width: 450px;
    height: 58px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.clients-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.input-group-append {
    position: absolute;
    width: 117px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.clients-button {
    position: absolute;
    top: 33px;
    left: -153px;
    height: 58px;
    width: 117px;
    background: #D0A144;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    border-width: 0px;
    ;
}

.clients-button span {
    position: absolute;
    width: 72px;
    height: 28px;
    left: calc(50% - 72px/2);
    top: calc(50% - 28px/2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.clients-button:hover {
    background: #d39822;
}

.contact {
    position: absolute;
    height: 808px;
    left: 0px;
    right: 0px;
    top: 3378px;
    background: #F3F3F3;
}

.contact-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 80px;
    position: absolute;
    width: 1050px;
    height: 733px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 864px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact-h2 {
    width: 258px;
    height: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact-p {
    width: 431px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 985px;
    height: 393px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 390px;
    left: -84px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 15px;
    width: 328px;
    height: 333px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 0.3s ease;
}

.contact-card:hover {
    padding: 80px 40px;
    gap: 15px;
    width: 328px;
    height: 393px;
    background: #252B42;
}

.contact-card:hover .contact-card-text {
    color: #FFFFFF;
}

.card-img-contact {
    width: 72px;
    height: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact-card-text {
    position: relative;
    width: 210px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    z-index: 2;
}

.contact-card-text-wrap {
    width: 210px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-card-h5 {
    width: 98px;
    height: 24px;
    position: relative;
    top: 0px;
    left: 50px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.contact-card:hover .contact-card-h5 {
    color: #FFFFFF;
}

.contact-card-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 154px;
    height: 44px;
    border: 1px solid #D0A144;
    border-radius: 5px;
    flex: none;
    order: 3;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: 0px;
    left: 22px;
    transition: all 1s;
}

.contact-card-btn h6 {
    width: 114px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #D0A144;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: -33px;
    left: 0px;
}

.contact-card-btn:hover {
    background-color: #ffffff;
    ;
}

footer {
    position: absolute;
    height: 488px;
    left: 0px;
    right: 0px;
    top: 4186px;
    background: #FAFAFA;
}

.request {
    position: absolute;
    height: 142px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FAFAFA;
}

.add-info {
    position: absolute;
    height: 272px;
    left: 0px;
    right: 0px;
    top: 142px;
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
}

.reserv {
    position: absolute;
    height: 74px;
    left: 0px;
    right: 0px;
    top: 414px;
    background: #FAFAFA;
}

.footer-h3 {
    width: 347px;
    height: 32px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-p {
    width: 250px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    top: -42px;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    width: 158px;
    height: 58px;
    background: #784F33;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-width: 0px;
    transition: all 1s;
}

.request-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 454px;
    height: 62px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 0px;
    left: 390px;
}

.request-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 236px;
    height: 58px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    top: 0px;
    left: 0px;
    position: absolute;
    top: 25px;
    left: 1333px;
}

.footer-btn a {
    width: 78px;
    height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-btn:hover{
    background-color: #ffffff;
}
.footer-btn:hover a{
    color: #784F33;
}
.main-content-footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
    position: absolute;
    width: 1050px;
    height: 270px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.footer-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1041px;
    height: 170px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: -30px;
}

.footer-card-type-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 321px;
    height: 152.5px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.footer-card-type-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 152px;
    height: 170px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-right: 50px;
}

.footer-h5 {
    width: 117px;
    height: 24px;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-addons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 152px;
    height: 170px;
    flex: none;
    order: 3;
    flex-grow: 0;
    position: relative;
    top: -30px;
}

.main-addons-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 321px;
    height: 152.5px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.addons-text {
    width: 150px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.main-addons-h6{
width: 205px;
height: 29.25px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFFFFF;
flex: none;
flex-grow: 0;
position: relative;
top: -85px;
left: 25px;
}
.footer-card-type-2-text-wrap img{
    position: relative;
    top: -20px;
    left: -100px;
}
.footer-card-type-2-text-wrap{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 239px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
}
.reserve-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 25px 0px;
position: absolute;
width: 1050px;
height: 74px;
left: calc(50% - 1050px/2);
top: 0px;
}
.row{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 213px;
width: 1049px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
}
.reserve-text{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 600px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
}
.reserve-img{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 236px;
height: 24px;
flex: none;
order: 1;
flex-grow: 0;
}
.reserve-text h6{
width: 349px;
height: 24px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 0;
flex-grow: 0;
position: relative;
top: 0px;
left: 300px;
}
.img-wrap{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;
width: 156px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
position: relative;
top: 35px;
left: 560px;
}